* {
	box-sizing: border-box;
}

html {
	font-family: 'Jost', sans-serif;
}

body {
	max-width: 800px;
	margin: 0 auto;
}

section {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	margin: 3rem;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
	border-bottom: 4px solid #ccc;
	color: #970076;
	margin: 0 0 1rem 0;
}

p {
	font-size: 1.25rem;
	font-weight: bold;
	background-color: #970076;
	padding: 0.5rem;
	color: white;
	border-radius: 25px;
}

input {
	font: inherit;
	border: 1px solid #ccc;
}

input:focus {
	outline: none;
	border-color: #1b995e;
	background-color: #d7fdeb;
}

button {
	font: inherit;
	cursor: pointer;
	border: 1px solid #ff0077;
	background-color: #ff0077;
	color: white;
	padding: 0.05rem 1rem;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

button:hover,
button:active {
	background-color: #ec3169;
	border-color: #ec3169;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
