* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

#app {
	margin: 3rem auto;
	max-width: 40rem;
	padding: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

label,
input {
	margin-bottom: 0.5rem;
	display: block;
	width: 100%;
}

label {
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 1rem 0;
	padding: 0;
}

li {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #ccc;
}
