:root {
	--accent-color: #c94258c9;
	--green-color: #58d6b0;
	--accent-color-2: #e23753;
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Jost', sans-serif;
}

body {
	margin: 0 auto;
}

header {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	padding: 0.5rem;
	background-color: var(--accent-color);
	color: white;
	text-align: center;
	margin-bottom: 2rem;
}

section {
	width: 90%;
	max-width: 40rem;
	margin: auto;
}

.healthbar {
	height: 20px;
	margin: 1rem 2rem;
	background: #fde5e5;
	border-radius: 1000px;
	overflow: hidden;
}

.healthbar__value {
	background-color: var(--green-color);
	width: 100%;
	height: 100%;
}

.container {
	text-align: center;
	padding: 0.5rem;
	margin: 1rem auto;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
	border-radius: 12px;
}

#monster h2,
#player h2 {
	margin: 0.25rem;
}

#controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

button {
	font: inherit;
	border: 1px solid transparent;
	background-color: var(--accent-color);
	color: white;
	padding: 1rem 2rem;
	border-radius: 12px;
	margin: 1rem;
	width: 12rem;
	cursor: pointer;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
	outline: none;
}

button:hover,
button:active {
	background-color: var(--accent-color-2);
	border-color: var(--accent-color-2);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
	background-color: #ccc;
	border-color: #ccc;
	box-shadow: none;
	color: #3f3f3f;
	cursor: not-allowed;
}

#log ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#log li {
	margin: 0.5rem 0;
}

.log--player {
	color: #7700ff;
}

.log--monster {
	color: #da8d00;
}

.log--damage {
	color: red;
}

.log--heal {
	color: green;
}
